body{
    margin:0px;
    background-color:#44475a;
    color:#f8f8f2;
}
#searchbar{
    width:50%;
    border:2px solid #ff5555;
}
input[type=text]{
    text-align: center;
    color:#f8f8f2;
    margin:2px;
}
#output{
    color:#ddd;
    border:2px solid #ff5555;
    width:30%;
    font-size: 40px;
}